@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
.thick{
    font-weight: bold;
}
.harga-produk{
    font-size: 15px;
}
#tulisan-slider-pertama{
    margin-top: 10px;
}
#tulisan-slider-kedua{
    margin-top: 45px;
}
.tulisan-shadow{
    text-shadow: 1px 1px 6px black;
}
.tulisan-hijau-gelap {
    color: #1b5e20;
}
.warna-orange-agrid{
    background-color: #e79418d5;
}
.warna-hijau-gelap {
    background-color: #1b5e20;
}
.warna-kuning-gelap {
    background-color: #ff6f00;
}
.warna-grey-sedikit {
    background-color: #f4f4f4;
}
.tulisan-warna-grey-sedikit {
    color: #f4f4f4;
}
.btn:hover, .btn-large:hover {
    background-color: #e79418d5;
}

/*nav bar*/
.center.row {
    width: 100%;
}
a.brand-logo {
    margin-top: 5px;
    margin-left: 30px;
}
.item-logo{
    width: 100px;
}
.logo-form{
    width: 180px;
    margin-top: 40px;
    margin-left: 30px;
}
ul.right {
    margin-right: 30px;
}
#sidenav-overlay {
    z-index: 10;
}

/*SLIDER COURUSEL*/
.satu {
    background-image: url("/img/markus-spiske-444652-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
    background-color: #ffffff;
}
.slider .indicators {
    bottom: 60px;
    z-index: 100;
    /* text-align: left; */
}

/*isi konten*/
.warna-star {
    color: yellow;
}
.card .card-image img {
    height: 145px;
}

div.box-produk, div.side-bar {
    border: 2px solid #e6e6e6;
}
div ul.icon-saya li{
    width: 25px;
    display: inline-block;
    margin-right: 5px;
}
div ul.icon-saya li.tambah{
    margin-right: 35px;
}
.breadcrumb-margin {
    margin-top: 15px;
}
.breadcrumb:before {
    color: black;
}
.bagi-select {
    margin-top: -15px;
    margin-bottom: -10px;
}
.pagination li.active{
    background-color: #1b5e20;
}

/*masuk-login*/
div.masuk-login {
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 3px;
}
/*side-bar*/
.side-bar-margin {
    margin-left: 50px;
}
.title-sidebar {
    border-bottom: 2px solid #f4f4f4;
}
.isi-side-bar {
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
}
div.kategori-side-bar ul li a{
    color: black;
}
div.kategori-side-bar ul li a:hover{
    color: #48ff55;
}
div.kategori-side-bar>ul>li {
    margin: 0 0 10px 15px;
}
div.kategori-side-bar>ul>ul.kategori-child {
    margin: 0 0 10px 15px;
}
div.kategori-side-bar>ul>ul.kategori-child>li {
    margin: 0 0 10px 15px;
}
/*carausel*/
.carousel .carousel-item {
    width: 260px !important;
    height: 260px !important;
}

/*footer*/
footer .pembatas-agrid {
    padding: 20px 0;
    margin-bottom: 20px;
}
footer ul.icon-saya li{
    width: 35px;
    display: inline-block;
    margin-right: 5px;
}
footer ul.perusahaan-list li {
    margin-top: 10px;
}